body {
    position: relative;
    background-image: url(../../pictures/background2.jpg);
    background-size: cover;
    color: white;
    h1 {
        text-align: center;
        color: red;
    }
    main {
        width: 40%;
        margin: auto;
    }
}